html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content-container {
    margin: 32px 32px 0 32px;
}

.half {
    float: left;
    width: 50%;
}

.post {
    margin: 16px;
}

.post-comment, .working-agreement, .action-item {
    margin: 8px;
}

.profile-container {
    max-width: 400px;
}

.users-container {
    display: flex;
    flex-flow: row wrap;
}
