.WAtoolbar {
    position: relative;
    top: 0;
    height: 56px !important;
    transition: top 0.5s, height 0.5s, z-index 0s 0.5s;
    z-index: 0;
}

.hideWAtoolbar {
    position: relative;
    top: -80px;
    height: 0 !important;
    transition: top 0.5s, height 0.5s;
    z-index: -1;
}
